docs/docs/
libs/build/
projects/
src/*.o
src/day2doy
src/doy2day
src/map_pert
src/map_rad
src/noise_pert
src/perturbation
src/sampling
src/spec2tab
src/variance
src/volcano
tests/data/SNDR*nc
tests/data/cris_l1b_full.zip
tests/pert_test/data/
